<h1>Tasks#index</h1>
<p id="notice"><%= notice %></p>
<h3>タスク管理支援画面</h3>
<table>
  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td>タスク名：<%= task.task %> </td>
        <td>内容：<%= task.content %></td>
        <td><%= link_to '新規作成',new_task_path%>
        <td><%= link_to '編集',edit_task_path(task.id)%>
        <td><%= link_to '削除',task_path(task.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to ' タスク一覧画面',task_path(task.id)%>
    <% end %>
  </tbody>
</table>
