<h1>Supports#index</h1>
<p id="notice"><%= notice %></p>
<h3>タスク管理支援画面</h3>
<table>
  <tbody>
    <% @supports.each do |support| %>
      <tr>
        <td>タスク名：<%= support.task %> </td>
        <td>内容：<%= support.content %></td>
        <td><%= link_to '新規作成',new_support_path%>
        <td><%= link_to '編集',edit_support_path(support.id)%>
        <td><%= link_to '削除',support_path(support.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to ' タスク一覧画面',support_path(support.id)%>
    <% end %>
  </tbody>
</table>
